<%- include('../layout/header'); -%>
    <ul class="nav type-mess">
        <li><a href="#" id="msg-friend"> Tin nhắn bạn bè</a></li>
        <li style="font-size: 13px;" class="ml-3"><a id="msg-group" class="text-dark" href="#">Tin nhắn nhóm </a></li>
    </ul>
    <div id="list-msg-friend">
        <% listMsgFriend.forEach(element=> { %>
            <div class=" row mt-2 box-user" style="height: 70px;background: #E5EFFF;">
                <div class="col-md-3 pr-0">
                    <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100 mt-1"
                        alt="" style="max-width: 60px;line-height: 70px">
                </div>
                <div class="col-md-7 pl-0">
                    <p style="line-height: 70px;" class="name-friend">
                        <%= element.name %>
                    </p>
                </div>
                <div class="col-md-2">
                    <i class="bi bi-chat user-chat" style="font-size: 30px;line-height: 70px;"
                        data-email="<%= element.email %>"></i>
                </div>
            </div>
            <% }); %>
    </div>
    <div id="list-msg-group" class="d-none">
        <% listGroup.forEach(element=> { %>
            <div class=" row mt-2 box-group" style="height: 70px;background: #E5EFFF;">
                <div class="col-md-3 pr-0">
                    <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100 mt-1"
                        alt="" style="max-width: 60px;line-height: 70px">
                </div>
                <div class="col-md-7 pl-0">
                    <p style="line-height: 70px;" class="name-of-group" data-code="<%= element.code %>">
                        <%= element.name %>
                    </p>
                </div>
                <div class="col-md-2">
                    <i class="bi bi-chat group-chat" style="font-size: 30px;line-height: 70px;"
                        data-code="<%= element.code %>"></i>
                </div>
            </div>
            <% }); %>
    </div>
    </div>
    <input type="hidden" id="sessionUserEmail" name="" value="<%= userEmail %>">
    <div class="col-md-7 p-0 position-relative">
        <div class="wellcome">
            <div class="row" style="background: #ffffff; min-height: 100vh;">
                <div class="col-md-8 mx-auto">
                    <center style="margin-top: 100px;">Chào mừng bạn đến với mạng xã hội <strong>Zola
                            !</strong> <br>
                        <span style="font-size: 13px;" class="mt-3">Khám phá những tiện ích hỗ trợ làm việc và
                            trò chuyện cùng
                            người thân, bạn bè được tối ưu hoá cho máy tính của bạn</span>
                        <img src="https://chat.zalo.me/assets/quick-message-onboard.3950179c175f636e91e3169b65d1b3e2.png"
                            alt="" class="w-100">
                    </center>
                </div>
            </div>
        </div>
        <div class="box-chat-msg d-none">
            <div class="card p-2" style="border-radius:0;border-left: 0;">
                <ul class="nav">
                    <li><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100"
                            alt="" style="max-width: 60px;line-height: 50px"></li>
                    <li class="ml-3 mt-2">
                        <h6 class="name-friend-chat name-group"></h6>
                        <input type="hidden" id="group-code">
                        <span class="friend-active-logs count-member-of-group"><i class="bi bi-circle-fill text-danger"
                                style="font-size:7px">
                            </i> Không hoạt động</span>
                    </li>
                </ul>
            </div>

            <div id="content-chat" class="w-100 pb-2" style="max-height:70vh;overflow-y: scroll;">
            </div>
            <div class="card w-100 position-absolute position-relative" style="bottom: 0;">
                <div class="card" style="height: 50px;line-height: 50px;border-radius: 0; border-left: 0 !important;">
                    <ul class="nav ml-3">
                        <li class="bi bi-paperclip send-msg-file-friend" style="font-size: 20px;"></li>
                        <li class="bi bi-card-image ml-3 send-msg-img-friend" style="font-size: 20px;"></li>
                        <form id="form-msg" method="post" enctype="multipart/form-data">
                            <input class="d-none" type="file" id="fileMsg" name="file" style="font-size: 20px;">
                        </form>
                        <form method="post" id="form-msg-file" enctype="multipart/form-data">
                            <input type="file" name="file" id="msg-file" class="d-none">
                        </form>
                    </ul>
                </div>
                <input type="text" class="form-control box-chat shadow-none w-100" id="chat-message"
                    placeholder="Nhập tin nhắn">
                <input type="text" class="form-control box-chat d-none shadow-none w-100" id="chat-group"
                    placeholder="Nhập tin nhắn">
                <i class="bi bi-hand-thumbs-up-fill position-absolute"
                    style="right: 30px;font-size: 30px;top: 55px; color: orange;"></i>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal fade" id="modal-add-friend-to-group" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel2" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-zoom modal-md">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h6 class="modal-title">Thêm thành viên</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <span class="err text-danger" id="errAddFriend" style="font-size: 14px;"></span> <br>
                    <span style="font-size: 14px;">Bạn bè</span>
                    <div id="list-friend" class="mt-2"></div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary border-0 text-dark shadow-none" data-dismiss="modal"
                        style="background: #eee;">Huỷ</button>
                    <button type="button" class="btn btn-primary shadow-none btn-add-friend-to-group">Xác nhận</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="modal-list-member-of-group" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel2" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-dialog-zoom modal-md">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h6 class="modal-title">Danh sách thành viên</h6>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <span class="err text-danger" id="errAddFriend" style="font-size: 14px;"></span> <br>
                    <span style="font-size: 14px;">Thành viên</span>
                    <div id="list-member" class="mt-2"></div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary border-0 text-dark shadow-none" data-dismiss="modal"
                        style="background: #eee;">Huỷ</button>
                    <button type="button" class="btn btn-primary shadow-none btn-add-friend-to-group">Xác nhận</button>
                </div>

            </div>
        </div>
    </div>
    <%- include('../layout/footer'); -%>

        <script>

            $('[data-toggle="popover"]').popover();

            let socket = io('http://localhost:3000', {
                'reconnection': true,
                'reconnectionDelay': 1000,
                'reconnectionDelayMax': 5000,
                'reconnectionAttempts': 5
            });

            var dataUser = new Promise((res, rej) => {
                socket.on('connect', () => {
                    socket.on('list-user', (users) => {
                        res(users);
                    })
                })
            })

            function getCurrentTime() {
                const today = new Date();
                return today.getHours() + ":" + today.getMinutes();
            }

            $('#chat-message').keypress((e) => {
                if (e.which == 13 && $('#chat-message').val().trim() != '') {
                    const message = $('#chat-message').val().trim();
                    const receiver = $('.name-friend-chat').data('email');
                    $('#chat-message').val('');

                    $.ajax({
                        url: '/chat/save',
                        type: 'POST',
                        data: {
                            message,
                            receiver
                        },
                        success(res) {
                            if (res.status) {

                                $('#content-chat').append(`
                                        <div class="row gx-0 mt-4">
                                                                <ul class="nav justify-content-end">
                                                <li>
                                                    <div class="card p-2 content-mess">
                                                         ${message}
                                                     <span class=" time-chat">${getCurrentTime()}</span>
                                                    </div>
                                                </li>
                                                <li class="mt-2"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100"
                                                        alt="" style="max-width: 40px;line-height: 50px"></li>
                                                <li>
                                                   </ul>
                                                    </div>    `).animate({ scrollTop: $('#content-chat').prop("scrollHeight") }, 1000)

                                dataUser.then((data) => {
                                    data.forEach(element => {
                                        if (element.email == receiver) {
                                            socket.emit('send-message-private', {
                                                //  id: element.id,
                                                message,
                                                receiver,
                                                sender: $('#sessionUserEmail').val(),
                                                type: 'text',
                                                time: getCurrentTime()
                                            })
                                        }
                                    });
                                })
                            }
                        }
                    });
                }
            });

            socket.on('connect', () => {
                socket.on('receive-message-private', (data) => {

                    //    if (data.sender == $('.name-friend-chat').data('email') && data.receiver == $('#sessionUserEmail').val()) {
                    $('#content-chat').append(`
                                                        <div class="row gx-0 mt-4"><ul class="nav justify-content-start">
                                                    <li class="mt-2"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100"
                                                            alt="" style="max-width: 40px;line-height: 50px"></li>
                                                    <li>
                                                        ${(() => {
                            if (data.type == 'text') {
                                return `<div class="card p-2 content-mess">
                                                         ${data.message}
                                                     <span class=" time-chat">${data.time}</span>
                                                    </div>`
                            }
                            else if (data.type == 'img') {
                                return ` <img src="${data.message}" class="w-100"
                                                            alt="" style="max-width: 500px;max-height:400px;object-fit:cover;line-height: 50px">
                                                            <span class=" time-chat">${data.time}</span>
`
                            }
                            else {
                                return `<div class="card p-2 content-mess">
                                                             <a href="${data.message}"
                                                            alt="" download>${(data.message).replace('/uploads/', '')}</a> <br>
                                                            <span class=" time-chat">${data.time}</span>
                                                            </div>`
                            }
                        })()}
                                                    </li>
                                                </ul>   </div> 
                                                                    `).animate({ scrollTop: $('#content-chat').prop("scrollHeight") }, 1000)
                    //  }
                })
                socket.emit('userLogin', $('#sessionUserEmail').val());
                socket.on('user_connected', email => {
                    if ($('.name-friend-chat').data('email') == email) {
                        $('.friend-active-logs').html('<i class="bi bi-circle-fill text-success" style="font-size:7px"> </i> Đang hoạt động')
                    }
                })
                socket.on('user-disconnect', email => {
                    if ($('.name-friend-chat').data('email') == email) {
                        $('.friend-active-logs').html('<i class="bi bi-circle-fill text-danger" style="font-size:7px"> </i> Không hoạt động')
                    }
                })

                socket.on('receive-message-group', data => {
                    console.log(data);
                    if (String((data[0].code)) == String($('.name-group').data('code'))) {
                        $('#content-chat').append(`
                                    <div class="row gx-0 mt-4"><ul class="nav justify-content-start">
                                        <li class="mt-2"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100"
                                        alt="" style="max-width: 40px;line-height: 50px"></li>
                                        <li>
                                            ${(() => {
                                if (data[0].type == 'text') {
                                    return ` <div class="card p-2 content-mess">
                                        <span style="font-size:12px;color:gray">${data[0].sender}<span> <br>
                                        <p  class="mt-1" style="color:black;font-size:13px">${data[0].message} </p>
                                        <span class=" time-chat">${getCurrentTime()}</span>
                                    </div>  `
                                }
                                else if (data[0].type == 'img') {
                                    return `
                                    <span style="font-size:12px;color:gray">${data[0].sender}<span> <br>
                                    <img src="${data[0].message}" class="w-100"
                                                            alt="" style="max-width: 500px;max-height:400px;object-fit:cover;line-height: 50px">
                                                            <span class=" time-chat">${getCurrentTime()}</span>
`
                                }
                                else {
                                    return `<div class="card p-2 content-mess">
                                        <span style="font-size:12px;color:gray">${data[0].sender}<span> <br>

                                                             <a href="${data[0].message}"
                                                            alt="" download>${(data[0].message).replace('/uploads/', '')}</a> <br>
                                                            <span class=" time-chat">${getCurrentTime()}</span>
                                                            </div>`
                                }
                            })()}                                                    
                                </li>

                            </ul>   </div> 
                            `).animate({ scrollTop: $('#content-chat').prop("scrollHeight") }, 1000)
                    }
                })

                socket.on('list-user', data => {
                    socket.emit('list-user', data)
                })

                socket.on('add-friend-to-group', data => {
                    Swal.fire({
                        text: `Bạn vừa được thêm vào 1 nhóm chat`,
                        showConfirmButton: false,
                        timer: 3000,
                        position: 'top-end'
                    })
                })

                socket.on('remove-member', data => {
                    console.log(data);
                })

                socket.on('leave-group', data => {
                    if (data.groupCode == $('#group-code').val()) {
                        $('.total-member').html(parseInt($('.total-member').html()) - 1)
                        Swal.fire({
                            text: `${data.email} vừa rời khỏi nhóm chat`,
                            showConfirmButton: false,
                            timer: 2000,
                            position: 'top-end'
                        })
                    }
                })

                socket.on('recall-msg', data => {
                    $('.content-msg-friend').each((i, item) => {
                        if ($(item).data('id') == data.id) {
                            $(item).html('Tin nhắn được thu hồi')
                        }
                    })
                })
            })

            // Lấy tin nhắn bạn bè
            $('.user-chat').click((e) => {
                e.stopPropagation()
                $('.box-chat-msg').removeClass('d-none').addClass('d-block')
                $('.wellcome').removeClass('d-block').addClass('d-none')

                const email = $(e.target).attr('data-email');
                $.ajax({
                    url: '/chat/friend',
                    type: 'POST',
                    data: {
                        email
                    },
                    dataType: 'JSON',
                    success(res) {
                        if (res.status) {
                            let data = ''

                            for (let i = 0; i < res.data.length; i++) {
                                if (res.data[i].isMe) {
                                    data += `<div class="row gx-0 mt-4">
                                                                <ul class="nav justify-content-end">
                                                <li>${(() => {
                                            if (res.data[i].type == 'text') {
                                                return `<div class="card p-2 content-mess content-msg-seft">
                                                         ${res.data[i].content == 'recall' ? 'Tin nhắn được thu hồi' : `${res.data[i].content}  <span class=" time-chat">${new Date(res.data[i].created).toISOString().slice(11, 16)}</span>
                                                <i class="bi bi-trash d-flex justify-content-end recall-msg" data-id= "${res.data[i].id}"> </i> `}
                                                     </div>`
                                            }
                                            else if (res.data[i].type == 'img') {
                                                return `<div class="content-msg-seft"> ${res.data[i].content == 'recall' ? '<div class="card p-2 content-mess"> Tin nhắn được thu hồi </div>' : `  <img src="${res.data[i].content}" class="w-100"
                                                            alt="" style="max-width: 500px;max-height:400px;object-fit:cover;line-height: 50px">
                                                            <span class=" time-chat">${new Date(res.data[i].created).toISOString().slice(11, 16)}</span>
                                                            <i class="bi bi-trash d-flex justify-content-end recall-msg" data-id= "${res.data[i].id}"> </i> `}
                                                            </div>
                                                            `
                                            }
                                            else {
                                                return `<div class="card p-2 content-mess content-msg-seft">
                                                    ${res.data[i].content == 'recall' ? 'Tin nhắn được thu hồi' : `  <a href="${res.data[i].content}"
                                                            alt="" download>${(res.data[i].content).replace('/uploads/', '')}</a> <br>
                                                            <span class=" time-chat">${new Date(res.data[i].created).toISOString().slice(11, 16)}</span>
                                                            <i class="bi bi-trash d-flex justify-content-end recall-msg" data-id= "${res.data[i].id}"> </i> `}
                                                            </div>`
                                            }
                                        })()}
                                                    
                                                </li>
                                                <li class="mt-2"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100"
                                                        alt="" style="max-width: 40px;line-height: 50px"></li>
                                                <li>
                                                   </ul>
                                                    </div> `
                                }
                                else {
                                    data += `
                                                    <div class="row gx-0 mt-4"><ul class="nav justify-content-start">
                                                <li class="mt-2"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100"
                                                        alt="" style="max-width: 40px;line-height: 50px"></li>
                                                <li>
                                                    ${(() => {
                                            if (res.data[i].type == 'text') {
                                                return `<div class="card p-2 content-mess content-msg-friend" data-id= "${res.data[i].id}">
                                                         ${res.data[i].content}
                                                     <span class=" time-chat">${new Date(res.data[i].created).toISOString().slice(11, 16)}</span>
                                                    </div>`
                                            }
                                            else if (res.data[i].type == 'img') {
                                                return `
                                                <div class="content-msg-friend" data-id= "${res.data[i].id}"> 
                                                <img src="${res.data[i].content}" class="w-100"
                                                            alt="" style="max-width: 500px;max-height:400px;object-fit:cover;line-height: 50px">
                                                            <span class=" time-chat">${new Date(res.data[i].created).toISOString().slice(11, 16)}</span>
                                                            </div>`
                                            }
                                            else {
                                                return `<div class="card p-2 content-mess content-msg-friend" data-id= "${res.data[i].id}">
                                                             <a href="${res.data[i].content}"
                                                            alt="" download>${(res.data[i].content).replace('/uploads/', '')}</a> <br>
                                                            <span class=" time-chat">${new Date(res.data[i].created).toISOString().slice(11, 16)}</span>
                                                            </div>`
                                            }
                                        })()}
                                                </li>
                                            </ul>   </div> 
                                                                `
                                }
                            }
                            $('#content-chat').html(data).animate({ scrollTop: $('#content-chat').prop("scrollHeight") }, 1000)
                            $('.name-friend-chat').html(res.user[0].name).attr('data-email', email)
                            dataUser.then(users => {
                                users.every(user => {
                                    if (user.email == email) {
                                        $('.friend-active-logs').html(`<i class="bi bi-circle-fill text-success" style="font-size:7px"> </i> Đang hoạt động`)
                                        return false
                                    }
                                })
                            })
                        }
                    }
                })
            })

            $('.send-msg-img-friend').click((e) => {
                $('#fileMsg').click()
            })

            $('.send-msg-file-friend').click((e) => {
                $('#msg-file').click()
            })

            // Gửi tin nhắn kèm hình ảnh
            $(document).on('change', '#fileMsg', (e) => {
                const file = e.target.files[0];
                const receiver = $('.name-friend-chat').data('email')
                const formData = new FormData();
                formData.append('file', file);
                formData.append('email', $('.name-friend-chat').data('email'))
                $.ajax({
                    url: '/chat/image',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success(res) {
                        if (res.status) {
                            $('#content-chat').append(`
                                                        <div class="row gx-0 mt-4"><ul class="nav justify-content-end">
                                                    <li>
                                                             <img src="${res.path}" class="w-100"
                                                            alt="" style="max-width: 500px;max-height:400px;object-fit:cover;line-height: 50px">                                             <span class=" time-chat">${getCurrentTime()}</span>           
                                                    </li>
                                                    <li class="mt-2"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100"
                                                            alt="" style="max-width: 40px;line-height: 50px"></li>
                                                </ul>   </div> 
                                                                    `).animate({ scrollTop: $('#content-chat').prop("scrollHeight") }, 1000)
                            dataUser.then((data) => {
                                data.forEach(element => {
                                    if (element.email == receiver) {
                                        socket.emit('send-message-private', {
                                            //  id: element.id,
                                            message: `/uploads/${$('#fileMsg')[0].files[0].name}`,
                                            receiver,
                                            sender: $('#sessionUserEmail').val(),
                                            type: 'img',
                                            time: getCurrentTime()

                                        })
                                    }
                                });
                            })
                        }
                    }
                })
            })

            // Gửi tin nhắn kèm file
            $(document).on('change', '#msg-file', (e) => {
                const file = e.target.files[0];
                const receiver = $('.name-friend-chat').data('email')
                const formData = new FormData();
                formData.append('file', file);
                formData.append('email', $('.name-friend-chat').data('email'))
                $.ajax({
                    url: '/chat/file',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success(res) {
                        if (res.status) {
                            $('#content-chat').append(`
                                                        <div class="row gx-0 mt-4"><ul class="nav justify-content-end">
                                                    <li>
                                                        <div class="card p-2 content-mess">
                                                             <a href="${res.path}"
                                                            alt="" download>${(res.path).replace('/uploads/', '')}</a> </br>
                                                            <span class=" time-chat">${getCurrentTime()}</span>
                                                            </div>                                                     
                                                    </li>
                                                    <li class="mt-2"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100"
                                                            alt="" style="max-width: 40px;line-height: 50px"></li>
                                                </ul>   </div> 
                                                                    `).animate({ scrollTop: $('#content-chat').prop("scrollHeight") }, 1000)
                            dataUser.then((data) => {
                                data.forEach(element => {
                                    if (element.email == receiver) {
                                        socket.emit('send-message-private', {
                                            //  id: element.id,
                                            message: `/uploads/${$('#msg-file')[0].files[0].name}`,
                                            receiver,
                                            sender: $('#sessionUserEmail').val(),
                                            type: 'file',
                                            time: getCurrentTime()

                                        })
                                    }
                                });
                            })
                        }
                    }
                })
            })

            $('#msg-friend').click((e) => {
                $('#list-msg-friend').addClass('d-block').removeClass('d-none')
                $('#list-msg-group').removeClass('d-block').addClass('d-none')
                $('#msg-friend').css('cssText', 'color: #0E6EFD !important;')
                $('#msg-group').css('cssText', 'color: black!important;')
                $('#chat-message').addClass('d-block').removeClass('d-none')
                $('#chat-group').addClass('d-none').removeClass('d-block')
                $('#sendImgGroup').attr('id', 'fileMsg')
                $('#sendFileGroup').attr('id', 'msg-file')
                $('.send-msg-file-group').addClass('send-msg-file-friend').removeClass('send-msg-file-group')
                $('.send-msg-img-group').addClass('send-msg-img-friend').removeClass('send-msg-img-group')
            })
            $('#msg-group').click((e) => {
                $('#list-msg-group').addClass('d-block').removeClass('d-none')
                $('#list-msg-friend').removeClass('d-block').addClass('d-none')
                $('#msg-group').css('cssText', 'color: #0E6EFD !important;')
                $('#msg-friend').css('cssText', 'color: black !important;')
                $('#fileMsg').attr('id', 'sendImgGroup')
                $('#msg-file').attr('id', 'sendFileGroup')
                $('#chat-group').addClass('d-block').removeClass('d-none')
                $('#chat-message').addClass('d-none').removeClass('d-block')
                $('.send-msg-file-friend').addClass('send-msg-file-group').removeClass('send-msg-file-friend')
                $('.send-msg-img-friend').addClass('send-msg-img-group').removeClass('send-msg-img-friend')

            })

            // Lấy tin nhắn nhóm
            $('.group-chat').click(e => {
                const code = $(e.target).data('code')
                $('.box-chat-msg').removeClass('d-none').addClass('d-block')
                $('.wellcome').remove()
                $.ajax({
                    url: '/group/get-message',
                    type: 'POST',
                    data: {
                        groupCode: code
                    },
                    dataType: 'JSON',
                    success(res) {
                        const data = res.listMsg
                        let listmess = ''

                        data.forEach(element => {
                            if (element.email == $('#sessionUserEmail').val()) {
                                listmess += `
                                <div class="row gx-0 mt-4">
                                    <ul class="nav justify-content-end">
                                        <li>
                                            ${(() => {
                                        if (element.type == 'text') {
                                            return `<div class="card p-2 content-mess">
                                                         ${element.content}
                                                         <span class=" time-chat">${new Date(element.time).toISOString().slice(11, 16)}</span>
                                                    </div>`
                                        }
                                        else if (element.type == 'img') {
                                            return ` <img src="${element.content}" class="w-100"
                                                            alt="" style="max-width: 500px;max-height:400px;object-fit:cover;line-height: 50px">
                                                            <span class=" time-chat">${new Date(element.time).toISOString().slice(11, 16)}</span>`
                                        }
                                        else {
                                            return `<div class="card p-2 content-mess">
                                                             <a href="${element.content}"
                                                            alt="" download>${(element.content).replace('/uploads/', '')}</a><br>
                                                            <span class=" time-chat">${new Date(element.time).toISOString().slice(11, 16)}</span>
                                                            </div>
                                                            `
                                        }
                                    })()}
                                        </li>
                                        <li class="mt-2"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100"
                                            alt="" style="max-width: 40px;line-height: 50px"></li>
                                    </ul>
                                </div>
                                `
                            } else {
                                listmess += `
                                        <div class="row gx-0 mt-4">
                                            <ul class="nav justify-content-start">
                                                <li class="mt-2"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100"
                                                    alt="" style="max-width: 40px;line-height: 50px"></li>
                                                <li>
                                                    ${(() => {
                                        if (element.type == 'text') {
                                            return `<div class="card p-2 content-mess">
                                                    <span style="font-size:12px;color:gray">${element.nameUser}<span> <br>
                                                       <p class="mt-1" style="color:black;font-size:13px">${element.content} </p>
                                                     <span class=" time-chat">${new Date(element.time).toISOString().slice(11, 16)}</span>
                                                    </div>`
                                        }
                                        else if (element.type == 'img') {
                                            return `
                                            <span style="font-size:12px;color:gray">${element.nameUser}<span> <br>
                                            <img src="${element.content}" class="w-100"
                                                            alt="" style="max-width: 500px;max-height:400px;object-fit:cover;line-height: 50px">
                                                            <span class=" time-chat">${new Date(element.time).toISOString().slice(11, 16)}</span>`
                                        }
                                        else {
                                            return `<div class="card p-2 content-mess">
                                                <span style="font-size:12px;color:gray">${element.nameUser}<span> <br>
                                                             <a href="${element.content}"
                                                            alt="" download>${(element.content).replace('/uploads/', '')}</a> </br>
                                                            <span class=" time-chat">${new Date(element.time).toISOString().slice(11, 16)}</span>
                                                            </div>
                                                            `
                                        }
                                    })()}
                                                 
                                                </li>
                                            </ul>
                                        </div>
                                    `
                            }
                        })
                        $('.name-group').html(`${res.group[0].name} <i class="bi bi-person-plus add-friend-to-group" style="font-size:20px"> </i>`).attr('data-code', code)
                        $('.count-member-of-group').html(`<a style="text-decoration:none" class="text-dark" href="#"><i class="bi bi-person"></i> <span class="total-member">${res.group[0].countMemBer} </span> thành viên </a>`)
                        $('#content-chat').html(listmess).animate({ scrollTop: $('#content-chat').prop("scrollHeight") }, 1000)
                        $('#group-code').attr('value', code)

                    }
                })
            })

            // Gửi tin nhắn nhóm

            $('#chat-group').keypress((e) => {
                // e.preventDefault()
                if (e.which == 13 && $('#chat-group').val() != '') {
                    const content = $('#chat-group').val()
                    const code = $('.name-group').data('code')
                    $('#chat-group').val('')
                    $.ajax({
                        url: '/group/send-message',
                        type: 'POST',
                        data: {
                            content,
                            code
                        },
                        dataType: 'JSON',
                        success(res) {
                            if (res.status) {
                                $('#content-chat').append(`
                                                        <div class="row gx-0 mt-4"><ul class="nav justify-content-end">
                                                    <li>
                                                        <div class="card p-2 content-mess">
                                                            <p  class="mt-2" style="color:black;font-size:13px">${content} </p>
                                                            <span class=" time-chat">${getCurrentTime()}</span>
                                                        </div>                                                     
                                                    </li>
                                                    <li class="mt-2"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100"
                                                            alt="" style="max-width: 40px;line-height: 50px"></li>
                                                </ul>   </div> 
                                                                    `).animate({ scrollTop: $('#content-chat').prop("scrollHeight") }, 1000)
                                socket.emit('send-message-group', {
                                    content,
                                    code,
                                    type: 'text',
                                    sender: $('#sessionUserEmail').val()
                                })
                            }
                        }
                    })
                }
            })

            $(document).on('click', '.send-msg-img-group', (e) => {
                $('#sendImgGroup').click()
            })
            $(document).on('click', '.send-msg-file-group', (e) => {
                $('#sendFileGroup').click()
            })

            $(document).on('change', '#sendImgGroup', e => {
                e.preventDefault()
                const file = e.target.files[0];
                const formData = new FormData();
                const groupCode = $('.name-group').data('code')
                formData.append('file', file);
                formData.append('groupCode', groupCode)
                $.ajax({
                    url: '/group/send-image',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success(res) {
                        if (res.status) {
                            $('#content-chat').append(`
                                                        <div class="row gx-0 mt-4"><ul class="nav justify-content-end">
                                                    <li>
                                                             <img src="${res.path}" class="w-100"
                                                            alt="" style="max-width: 500px;max-height:400px;object-fit:cover;line-height: 50px">       
                                                            <span class=" time-chat">${getCurrentTime()}</span>
                                                    </li>
                                                    <li class="mt-2"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100"
                                                            alt="" style="max-width: 40px;line-height: 50px">
                                
                                                            </li>
                                                </ul>   </div> 
                                                                    `).animate({ scrollTop: $('#content-chat').prop("scrollHeight") }, 1000)
                            socket.emit('send-message-group', {
                                content: res.path,
                                code: groupCode,
                                type: 'img',
                                sender: $('#sessionUserEmail').val()
                            })
                        }
                    }
                })
            })

            $(document).on('change', '#sendFileGroup', e => {
                e.preventDefault()
                const file = e.target.files[0];
                const formData = new FormData();
                const groupCode = $('.name-group').data('code')
                formData.append('file', file);
                formData.append('groupCode', groupCode)
                $.ajax({
                    url: '/group/send-file',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success(res) {
                        if (res.status) {
                            $('#content-chat').append(`
                                                        <div class="row gx-0 mt-4"><ul class="nav justify-content-end">
                                                    <li>
                                                            <div class="card p-2 content-mess">
                                                             <a href="${res.path}"
                                                            alt="" download>${(res.path).replace('/uploads/', '')}</a><br>
                                                            <span class=" time-chat">${getCurrentTime()}</span>
                                                            </div>                                                    
                                                    </li>
                                                    <li class="mt-2"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="w-100"
                                                            alt="" style="max-width: 40px;line-height: 50px"></li>
                                                </ul>   </div> 
                                                                    `).animate({ scrollTop: $('#content-chat').prop("scrollHeight") }, 1000)
                            socket.emit('send-message-group', {
                                content: res.path,
                                code: groupCode,
                                type: 'file',
                                sender: $('#sessionUserEmail').val()
                            })
                        }
                    }
                })
            })

            $(document).on('click', '.add-friend-to-group', (e) => {
                e.preventDefault()
                let groupCode = $('#group-code').val()
                $.ajax({
                    url: '/group/get-friend-not-in-group',
                    type: 'POST',
                    data: {
                        groupCode
                    },
                    success(res) {
                        console.log(res);
                        const data = res.listFriend
                        let listFriend = ''
                        data.forEach(item => {
                            listFriend += `
                            <input type="checkbox" style="border-radius:10px" name="friend" value="${item.email}"> <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt=""
                        style="height: 30px; width: 30px;"> <span style="font-size:14px">${item.name}</span><br>
                            `
                        })
                        $('#modal-add-friend-to-group #list-friend').html(listFriend)
                        $('#modal-add-friend-to-group').modal('show')
                    }
                })
            })


            var arrFriendAddToGroup = []

            $(document).on('click', '#modal-add-friend-to-group input[name="friend"]', (e) => {
                const email = $(e.target).val()
                if ($(e.target).is(':checked')) {
                    arrFriendAddToGroup.push(email)
                }
                else {
                    arrFriendAddToGroup.splice(arrFriendAddToGroup.indexOf(email), 1)
                }
                console.log(arrFriendAddToGroup);
            })

            //Thêm bạn bè vào nhóm chat
            $('.btn-add-friend-to-group').click(e => {
                e.preventDefault()
                const groupCode = $('#group-code').val()
                $.ajax({
                    url: '/group/add-friend-to-group',
                    type: 'POST',
                    data: {
                        groupCode,
                        listFriend: arrFriendAddToGroup
                    },
                    success(res) {
                        console.log(res);
                        if (res.status) {
                            $('#modal-add-friend-to-group').modal('hide')
                            $('#modal-add-friend-to-group #list-friend').html('')
                            Swal.fire({
                                text: `${res.msg}`,
                                showConfirmButton: false,
                                timer: 3000
                            })
                            socket.emit('add-friend-to-group',
                                arrFriendAddToGroup
                            )
                            arrFriendAddToGroup = []
                        }
                        else {
                            $('#errAddFriend').html(`${res[0].msg}`)
                        }
                    }
                })
            })

            // Đổi tên nhóm chat
            $('.name-group').dblclick(e => {
                e.preventDefault()
                const groupCode = $('#group-code').val()
                const nameOld = $('.name-group').text()

                $.ajax({
                    url: '/group/get-owner-group',
                    type: 'POST',
                    data: {
                        groupCode
                    },
                    success(res) {
                        if (res.status) {
                            $('.name-group').html(`<input type="text" class="form-control" data-nameold="${nameOld}" id="name-group-new">`)
                        }
                    }
                })
            })


            $(document).on('blur', '#name-group-new', e => {
                e.preventDefault()
                const nameOld = $(e.target).data('nameold')
                if ($('#name-group-new').val().trim() == '') {
                    $('.name-group').html(`${nameOld} <i class="bi bi-person-plus add-friend-to-group" style="font-size:20px"> </i>`)
                }
                else {
                    const groupCode = $('#group-code').val()
                    const nameNew = $('#name-group-new').val().trim()
                    $.ajax({
                        url: '/group/change-group-name',
                        type: 'POST',
                        data: {
                            groupCode,
                            groupName: nameNew
                        },
                        success(res) {
                            if (res.status) {
                                $('.name-group').html(`${nameNew} <i class="bi bi-person-plus add-friend-to-group" style="font-size:20px"> </i>`)
                                Swal.fire({
                                    text: `${res.msg}`,
                                    showConfirmButton: false,
                                    timer: 3000
                                })
                                $(`.name-of-group`).each((i, item) => {
                                    if ($(item).data('code') == groupCode) {
                                        $(item).html(nameNew)
                                    }
                                })
                            }
                            else {
                                $('.name-group').html(`${nameOld} <i class="bi bi-person-plus add-friend-to-group" style="font-size:20px"> </i>`)
                                Swal.fire({
                                    text: `${res.msg}`,
                                    showConfirmButton: false,
                                    timer: 3000
                                })
                            }
                        }
                    })
                }
            })

            $(document).on('click', '.count-member-of-group', (e) => {
                e.preventDefault()
                const groupCode = $('#group-code').val()
                $.ajax({
                    url: '/group/get-member',
                    type: 'POST',
                    data: {
                        groupCode
                    },
                    success(res) {
                        console.log(res);
                        if (res.status) {
                            const data = res.members
                            let listMember = ''
                            data.forEach(item => {
                                listMember += `
                                <li class="list-group-item">
                                    <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt=""
                                        style="height: 30px; width: 30px;">
                                    <span style="font-size:14px">${item.name}</span>
                                    <span class="bi ${item.is_owner == false && item.owner_email == $('#sessionUserEmail').val() ? 'bi-x-circle remove-member' : (item.email == $('#sessionUserEmail').val() ? 'bi-arrow-bar-left leave-group' : '')} float-right" data-email="${item.email}"> </span>
                                </li>
                                `
                            })
                            $('#modal-list-member-of-group #list-member').html(listMember)
                            $('#modal-list-member-of-group').modal('show')
                        }
                    }
                })
            })

            // Xóa thành viên khỏi nhóm
            $(document).on('click', '.remove-member', e => {
                e.preventDefault()
                const email = $(e.target).data('email')
                const groupCode = $('#group-code').val()
                $.ajax({
                    url: '/group/remove-member',
                    type: 'POST',
                    data: {
                        groupCode,
                        email
                    },
                    success(res) {
                        if (res.status) {
                            Swal.fire({
                                text: `${res.msg}`,
                                showConfirmButton: false,
                                timer: 3000
                            })
                            $('#modal-list-member-of-group').modal('hide')
                            $('.total-member').html(parseInt($('.total-member').html()) - 1)
                            socket.emit('remove-member',
                                {
                                    groupCode,
                                    email
                                }
                            )
                        }
                    }
                })
            })

            // Rời khỏi nhóm

            $(document).on('click', '.leave-group', e => {
                e.preventDefault()
                const groupCode = $('#group-code').val()
                $.ajax({
                    url: '/group/leave-group',
                    type: 'POST',
                    data: {
                        groupCode
                    },
                    success(res) {
                        if (res.status) {
                            Swal.fire({
                                text: `${res.msg}`,
                                showConfirmButton: false,
                                timer: 3000
                            })
                            $('#modal-list-member-of-group').modal('hide')
                            socket.emit('leave-group', {
                                groupCode,
                                email: $('#sessionUserEmail').val()
                            })
                            $('.name-of-group').each((i, item) => {
                                if ($(item).data('code') == groupCode) {
                                    $(item).closest('.box-group').remove()
                                }
                            })
                            $('.wellcome').addClass('d-block').removeClass('d-none')
                            $('.box-chat-msg').addClass('d-none').removeClass('d-block')
                        }
                    }
                })
            })

            $(document).on('click', '.recall-msg', (e) => {
                e.preventDefault()
                const id = $(e.target).data('id')

                Swal.fire({
                    text: "Bạn có chắc muốn thu hồi tin nhắn không ?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#0E6EFD',
                    cancelButtonColor: 'gray',
                    confirmButtonText: 'Chắc',
                    cancelButtonText: 'Thôi'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/chat/recall-msg',
                            type: 'POST',
                            data: {
                                id
                            },
                            success(res) {
                                if (res.status) {
                                    $(e.target).closest('.content-msg-seft').html('Tin nhắn được thu hồi')
                                    socket.emit('recall-msg', {
                                        id,
                                        sender: $('#sessionUserEmail').val(),
                                        receiver: $('.name-friend-chat').data('email')
                                    })
                                }
                            }
                        })
                    }
                })
            })
        </script>